<div *ngIf="hero">
	<h2>{{hero.name}} details!</h2>

	<div class="form-group row">
		<label for="inputEmail3" class="col-sm-1 col-form-label">id: </label>
		<div class="col-sm-10">
			{{hero.id}}
		</div>
	</div>

	<div class="form-group row">
		<label for="inputEmail3" class="col-sm-1 col-form-label">name: </label>
		<div class="col-sm-10">
			<input type="text" class="form-control" placeholder="name" aria-describedby="basic-addon1" [(ngModel)]="hero.name">
		</div>
	</div>

    <button class="btn btn-primary" (click)="save()">Save</button>
    <button class="btn" (click)="goBack()">Back</button>
</div>

